server {
    listen 80;
    listen [::]:80;
    server_name thatsnuts.activeadvantage.co;

    root /mnt/apps/ThatsNuts/web/dist;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
